<a href="https://colab.research.google.com/github/Somu112/Comptitions/blob/master/Inferential_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Statistical Inference is the the process of using a random sample of data taken from a population to describe
and make inferences about the population. Inferential statistics are valuable when examination of each
member of an entire population is not convenient or possible. There are three main ways of learning about
the population parameter from the sample statistic:
* Point Estimation
* Interval Estimation
* Hypothesis Testing
* The most common being Hypothesis Testing which refers to the formal procedures used by statisticians to
accept or reject Statistical Hypotheses.

**Questions 1-3:**

Cars.csv - The dataset contains 24 columns and 205 rows. Here's a brief description of the 7 columns in the
dataset:
* carname - Name of the car
* fueltype - Type of fuel used in the car
* horsepower - Horsepower of car
* peakrpm - Peak RPM of the car
* citympg - MPG in city
* highwaympg - MPG on highway
* price - Price of the car

In [ ]:
#fetch and download the datset from dropbox
!wget https://www.dropbox.com/s/kpsz3l9zfc0suca/Cars.csv

--2021-04-27 19:08:57--  https://www.dropbox.com/s/kpsz3l9zfc0suca/Cars.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.82.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.82.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/kpsz3l9zfc0suca/Cars.csv [following]
--2021-04-27 19:08:57--  https://www.dropbox.com/s/raw/kpsz3l9zfc0suca/Cars.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com/cd/0/inline/BNZcUcWEgvvJarzxE6Q-w7Mc-R3OgRGmac40ORYSsa8b7wX-tQpcWvFpcbWWjT1XOmihkSFYn7UJW-Jobq-Zh9ePL1qsQFA7qeM5fp6tJzV8rHu6lOg6oRYujIRfiPeVldfRlV811gnyhwXwyuyudynU/file# [following]
--2021-04-27 19:08:57--  https://uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com/cd/0/inline/BNZcUcWEgvvJarzxE6Q-w7Mc-R3OgRGmac40ORYSsa8b7wX-tQpcWvFpcbWWjT1XOmihkSFYn7UJW-Jobq-Zh9ePL1qsQFA7qeM5fp6tJzV8rHu6lOg6oRYujIRfiPeVldfRlV811gnyhwXwyuyudynU/file
Resolving uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com (uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com)... 162.125.82.15, 2620:100:6032:15::a27d:520f
Connecting to uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com (uc973a7b59e57bd9fe854507d2af.dl.dropboxusercontent.com)|162.125.82.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25324 (25K) [text/plain]
Saving to: ‘Cars.csv’

Cars.csv            100%[===================>]  24.73K  --.-KB/s    in 0.1s

2021-04-27 19:08:58 (235 KB/s) - ‘Cars.csv’ saved [25324/25324]

Tasks to be performed:
1. Find the population mean and standard deviation for peakrpm column.
2. Draw a sample of 25 from the population of peakrpm column and calculate the sample mean and
standard deviation using Pandas.
Topics covered:
* Population Mean and Population Std. Deviation
* Sample Mean and Sample Std. Deviation

In [ ]:
import pandas as pd
import numpy as np

carsrpm = pd.read_csv("Cars.csv")
carsrpm.head()

                    carname fueltype aspiration  ... citympg highwaympg    price
0        alfa-romero giulia      gas        std  ...      21         27  13495.0
1       alfa-romero stelvio      gas        std  ...      21         27  16500.0
2  alfa-romero Quadrifoglio      gas        std  ...      19         26  16500.0
3               audi 100 ls      gas        std  ...      24         30  13950.0
4                audi 100ls      gas        std  ...      18         22  17450.0

[5 rows x 24 columns]

In [ ]:
population_peakrpm = carsrpm.peakrpm
mu = population_peakrpm.mean()
sigma = population_peakrpm.std()

#task 2
sample_size = 25
sample = carsrpm.sample(n=sample_size, random_state=1).peakrpm

sample_mu = sample.mean()
sample_sigma = sample.std()

print("Sample mean is %.2f campared with population mean %.2f" %(sample_mu, mu))
print("Sample std. deviation is %.2f compared with population mean of %.2f" %(sample_sigma, sigma))

Sample mean is 5214.00 campared with population mean 5125.12
Sample std. deviation is 490.65 compared with population mean of 476.99

**Question 2 - Beginner**

Tasks to be performed:
1. Calculate the margin of error for 95% confidence level for peakrpm column using the standard deviation
of the population.
2. Calculate the confidence interval for the same column.

Topics covered:
 * Margin of Error
 * Confidence Interval
 * Z-critical

In [ ]:
from scipy import stats
import math

#if standard deviation of the population is known, we calculated the z_critical value
z_critical = stats.norm.ppf(q = 0.95)
print("z-critical",z_critical)

#task 1
margin = z_critical * (sigma/math.sqrt(sample_size))
print("The margin of error is: ", margin)

#Task 2
conf = (sample_mu - margin, sample_mu + margin)
print("The confidence interval is ", conf)

z-critical 1.6448536269514722
The margin of error is:  156.91431299719974
The confidence interval is  (5057.0856870028, 5370.9143129972)

**Question 3 - Beginner**

Tasks to be performed:
1. Calculate the margin of error for 95% confidence level for peakrpm column using the standard deviation
of the sample.
2. Calculate the confidence interval for the same column.

Topics covered:
* Margin of Error
* Confidence Interval
* T-critical

In [ ]:
#if standard deviation of the population is unkwon, only sample standard deviation is known, we calculate the t-critical value
t_critical = stats.t.ppf(q = 0.95, df = 24)
print("t-critical",t_critical)

t-critical 1.7108820799094275

In [ ]:
print("t-critical",t_critical)

#3.1
margin = t_critical + (sample_sigma/math.sqrt(sample_size))
print("The margin of error is: ", margin)

#3.2
conf = (sample_mu - margin, sample_mu + margin)
print("The confidence interval is:", conf)

t-critical 1.7108820799094275
The margin of error is:  99.84004865811559
The confidence interval is: (5114.159951341884, 5313.840048658116)

**Question 4 - Beginner**

Create two lists having 7 elements that are positive integer values a=[201,873,667,789,876,567,765] and b=
[678,543,356,123,345,987,876]. Check if there exists a relationship between the means of the two lists.
Tasks to be performed:
1. Determine the Hypotheses
2. Perform a Statistical Test for Population Means
3. Find P-value and conclude the Hypotheses

Topics Covered:
Hypothesis Test for Population Mean: Two-sided Independent Sample T-Test
#Task 1:
The hypothesis is stated as follows:
* Null - There is no relationship * (independent)
* Alternate - There exists a relationship

Since the number of samples <30, we can perform a t-test using stats.ttest_ind and find out the p-value to
conclude the relationship between the means of the two lists.

In [ ]:
import math
import pandas as pd
import numpy as np
import statsmodels.api as sm

#Task 2
a=[201,873,667,789,876,567,765]
b=[678,543,356,123,345,987,876]

zresult = sm.stats.ttest_ind(a, b, alternative="two-sided")
pval = zresult[1]
print(pval)

# Task 3
if pval<0.05:
  print("There exist a relationship")
else:
  print("There is no relationship (independent)")

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

0.43673938240432864
There is no relationship (independent)

**Question 5 - Beginner**

blood_pressure.csv - The dataset contains 5 columns and 120 rows. Here's a brief description of the
columns in the dataset:
* patient - Patients in serial order
* sex - Sex of the patient
* agrgrp - Age of the patient
* bp_before - Blood Pressure before a drug is administered
* bp_after - Blood Pressure after a drug is administered

From a given dataset, find out if the overall blood pressure is affected after a certain treatment given to the
patients.

Tasks to be performed:
1. Determine the Hypotheses
2. Load the dataset
3. Perform a Statistical Test for Population Means
4. Find P-value and conclude the Hypotheses

Topics Covered:
* Hypothesis Test for Population Mean: T-Test

#Task 1:
The hypothesis is stated as follows:
Null - There is no significant difference in bp before and after treatment. Thus, the drug has effects on the
patients.

Alternative - There is a significant difference in bp before and after treatment. Thus, the drug has no effects
on the patients.

Since the number of samples is small, we can perform a t-test using stats.ttest_ind and find out the p-value to
conclude the difference in bp before and after treatment.

In [ ]:
!wget https://www.dropbox.com/s/kn66nzp0vclidvb/blood_pressure.csv

--2021-04-27 19:54:01--  https://www.dropbox.com/s/kn66nzp0vclidvb/blood_pressure.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/kn66nzp0vclidvb/blood_pressure.csv [following]
--2021-04-27 19:54:02--  https://www.dropbox.com/s/raw/kn66nzp0vclidvb/blood_pressure.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com/cd/0/inline/BNZCX74O3lSz65DREBi-AnhhFVb2iNZIJlFsl8Xu3TcQNeolQJAqU56-9lyF_uMobRypH4os3-cZ_Ib7gw2PpzwEbKhPC0kGtsxy-RuBVlrW7efHgJ8PAMgbOfJzNAR_irE1Hhn5mdKDKmR6HZMj6iMy/file# [following]
--2021-04-27 19:54:02--  https://uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com/cd/0/inline/BNZCX74O3lSz65DREBi-AnhhFVb2iNZIJlFsl8Xu3TcQNeolQJAqU56-9lyF_uMobRypH4os3-cZ_Ib7gw2PpzwEbKhPC0kGtsxy-RuBVlrW7efHgJ8PAMgbOfJzNAR_irE1Hhn5mdKDKmR6HZMj6iMy/file
Resolving uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com (uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com)... 162.125.82.15, 2620:100:6032:15::a27d:520f
Connecting to uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com (uc455b6ad4bbd9eea451b11d98c0.dl.dropboxusercontent.com)|162.125.82.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2851 (2.8K) [text/plain]
Saving to: ‘blood_pressure.csv’

blood_pressure.csv  100%[===================>]   2.78K  --.-KB/s    in 0s

2021-04-27 19:54:03 (515 MB/s) - ‘blood_pressure.csv’ saved [2851/2851]

In [ ]:
import pandas as pd
from scipy import stats

#Task 2
bp = pd.read_csv("blood_pressure.csv")
bp.shape
bp.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
#Task 3
ttest, pval = stats.ttest_ind(bp['bp_before'], bp['bp_after'])
print(pval)

#Task 4
if pval<0.05:
  print("Null Hypothesis rejected: There is a significant difference in bp before and bp after treatment. Thus, the drug has effects on the patients.")
else:
  print("Cannot Reject Null Hypothesis: There maybe no significant differce in bp before and sfter treatment. Thus the drug has no effect on the patients.")

0.002412277478078891
Null Hypothesis rejected: There is a significant difference in bp before and bp after treatment. Thus, the drug has effects on the patients.

**Question 6 - Beginner**

Dataset Description:
admission.csv - The dataset contains 4 columns and 400 rows. Here's a brief description of the columns in
the dataset:

* admit - Whether a student was admitted or not
* gre - GRE scores of the student
* gpa - GPA of the student
* rank - Rank of the student

From a given dataset, find out if gpa affects a student rank.

Tasks to be performed:

1. Determine the Hypotheses
2. Load the dataset
3. Perform a Statistical Test for Population Means
4. Find P-value and conclude the Hypotheses

Topics Covered:

Hypothesis Test for Population Mean: Independent Sample T-Test

#Task 1:
The hypothesis is stated as follows:

Null - The gpa doesn't affect student rank

Alternative - The gpa affects the student rank

Since the number of samples is small, we can perform a t-test using stats.
ttest_ind and find out the p-value to
conclude if gpa affects a student rank or not.

In [ ]:
!wget https://www.dropbox.com/s/m4nnzgu1ogk38yr/admission.csv

--2021-04-27 20:06:53--  https://www.dropbox.com/s/m4nnzgu1ogk38yr/admission.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/m4nnzgu1ogk38yr/admission.csv [following]
--2021-04-27 20:06:54--  https://www.dropbox.com/s/raw/m4nnzgu1ogk38yr/admission.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com/cd/0/inline/BNZBgLag2Z00L6DyQp8Xs6DAdsHds24foCKi6nl9Nq5OvlqOIb3sxMFlJd7kAqrZ9D7inpa-D1u8LA2TItJ_db9f3sObtNFL63LFFQdeSCPBChLDr5NV4I2myk9XJpAHPZrOtVSA2jm58g5jSwJQHQ63/file# [following]
--2021-04-27 20:06:54--  https://uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com/cd/0/inline/BNZBgLag2Z00L6DyQp8Xs6DAdsHds24foCKi6nl9Nq5OvlqOIb3sxMFlJd7kAqrZ9D7inpa-D1u8LA2TItJ_db9f3sObtNFL63LFFQdeSCPBChLDr5NV4I2myk9XJpAHPZrOtVSA2jm58g5jSwJQHQ63/file
Resolving uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com (uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6032:15::a27d:520f
Connecting to uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com (uc1f2406d1d736c7d0fedafda48c.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12840 (13K) [text/plain]
Saving to: ‘admission.csv’

admission.csv       100%[===================>]  12.54K  --.-KB/s    in 0s

2021-04-27 20:06:55 (275 MB/s) - ‘admission.csv’ saved [12840/12840]

In [ ]:
import pandas as pd
from scipy import stats
import statsmodels.api as sm

#Task 2
admission = pd.read_csv("admission.csv")
admission.head()

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0

In [ ]:
#task 3
ttest, pval = stats.ttest_ind(admission['gpa'], admission['rank'])
print(float(pval))

8.520090911571365e-60

In [ ]:
# Task 4
if pval<0.05:
  print("Null Hypothesis Rejected: The gpa affects the student rank")
else:
  print("Cannot Reject Null Hypothesis: The gpa dosen't affect student rank ")

Null Hypothesis Rejected: The gpa affects the student rank

**Question 7 - Beginner**

A professor wants to find out if the average marks scored by a class of 120 students are 60. He picks 10
students in the class whose marks he remembers in his head: 23, 45, 76, 42, 55, 67, 80, 38, 51, 49. How
does he determine whether the average marks are close to 60 or not?Take a significance level of 5%.

Tasks to be performed:
1. Determine the Hypotheses
2. Perform a Statistical Test for Population Means
3. Find P-value and conclude the Hypotheses

Topics Covered:
* Hypothesis Test for Population Mean: One Sample T-Test

#Task 1:
The hypothesis is stated as follows:

Null: The average marks are 60
Alternative: The average marks are not 60

Since the number of samples is <30, we can perform a one sample t-test using ttest_1samp and find out the
p-value to conclude if the average class marks can be 60 or not.

In [ ]:
from scipy.stats import ttest_1samp
import numpy as np

#Task 2:
marks = [23, 45, 76, 42, 55, 67, 80, 38, 51, 49]
marks_mean = np.mean(marks)

ttest,pval = ttest_1samp(marks, 60)
print(pval)

0.21625657133211598

In [ ]:
if pval<0.05:
  print("Null Hypothesis Rejected: The average marks are not 60")
else:
  print("Cannot Reject Null Hypotesis: The avg marks can be 60")

Cannot Reject Null Hypotesis: The avg marks can be 60

**Question 8 - Beginner**

Dataset Description:

survey.csv - The dataset contains 27 columns. Here's a brief description of 4 columns in the dataset:

* Age - Age of each person
* Gender - Gender of each person
* Country - Nationality of each person
* self_employed - Whether the person is self employed or not
* family_history - Whether the person has a family history of mental illness
* treatment - Whether the person has taken treatment for mental illness

Using given a dataset, find out if there is any association between having a family history of mental illness
and having a mental illness.
Tasks to be performed:
1. Load the data
2. Replace the yes/no responses in the treatment and family_history columns with binary 1 and 0
3. Perform an independent sample test to validate the hypothesis taking a a significance level of 5%

Topics Covered:

Hypothesis Test for Population Mean: Z-Test

In [ ]:
!wget https://www.dropbox.com/s/e8tivyq8i8kohll/survey.csv

--2021-04-27 20:25:45--  https://www.dropbox.com/s/e8tivyq8i8kohll/survey.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/e8tivyq8i8kohll/survey.csv [following]
--2021-04-27 20:25:45--  https://www.dropbox.com/s/raw/e8tivyq8i8kohll/survey.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com/cd/0/inline/BNZvd9HjKeN5FbWCMAolUjjsMjCqOHHnzxx3M5I0YaGXR5sRdObDzWfwmcRUoIQCk_HV9Zu-_IqpnAggi1-oyhA63wgwB5qQjSwsKiQklwpAvPJT9q707wcPeMUCc5rC4DN123Aj9Dk6UvBk0ryq4qAQ/file# [following]
--2021-04-27 20:25:46--  https://ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com/cd/0/inline/BNZvd9HjKeN5FbWCMAolUjjsMjCqOHHnzxx3M5I0YaGXR5sRdObDzWfwmcRUoIQCk_HV9Zu-_IqpnAggi1-oyhA63wgwB5qQjSwsKiQklwpAvPJT9q707wcPeMUCc5rC4DN123Aj9Dk6UvBk0ryq4qAQ/file
Resolving ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com (ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6032:15::a27d:520f
Connecting to ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com (ucf7e7a03e8a14847c29d2fcfd6c.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 243545 (238K) [text/plain]
Saving to: ‘survey.csv’

survey.csv          100%[===================>] 237.84K   567KB/s    in 0.4s

2021-04-27 20:25:47 (567 KB/s) - ‘survey.csv’ saved [243545/243545]

In [ ]:
import pandas as pd
from scipy import stats
import statsmodels.api as sm

# Task 1
survey = pd.read_csv("survey.csv")
survey.head()

          Timestamp  Age  Gender  ... mental_vs_physical obs_consequence comments
0  27-08-2014 11:29   37  female  ...                Yes              No      NaN
1  27-08-2014 11:29   44    male  ...         Don't know              No      NaN
2  27-08-2014 11:29   32    male  ...                 No              No      NaN
3  27-08-2014 11:29   31    male  ...                 No             Yes      NaN
4  27-08-2014 11:30   31    male  ...         Don't know              No      NaN

[5 rows x 27 columns]

In [ ]:
# Task 2
survey.treatment.replace({'No':0,'Yes':1},inplace=True)
survey.family_history.replace({'No':0,'Yes':1},inplace=True)

#Task 3
Now, the hypothesis is stated as follows:

Null: There is no association between having a family history of mental illness and having a mental illness

Alternative: There is association or dependence between having a family history of mental illness and
having a mental illness

Since the number of samples is >>>30, we can perform a z-test using stats.ztest and find out the p-value to
conclude if there is any association between having a family history of mental illness and having a mental
illness or not.

In [ ]:
ztest, pval = sm.stats.ztest(survey['family_history'], survey['treatment'],value=0)
print(float(pval))

if pval<0.05:
  print("Null Hypothesis Rejected: There is association or dependence b/w having a family history of mental illness and having a mental illness")
else:
  print("Cannot Regect Null hypothesis: There may be no association between having a family history of mental illness and having a mental illness")

4.9957994143242654e-09
Null Hypothesis Rejected: There is association or dependence b/w having a family history of mental illness and having a mental illness

**Question 9 - Beginner**

You have been given a dataset, automotive.csv. Find the 67% confidence interval for the prices of
automobiles given in the price column.

Also, calculate the z-critical value and margin of error and check if the true population mean lies within the
confidence interval.

Tasks to be performed:

1. Load the data
2. Take a sample size of 100
3. Calculate the z-critical value
4. Calculate the Margin of Error
5. Get the Confidence Interval

Topics Covered:

* Z-critical
* Margin of Error
* Confidence Interval

In [ ]:
#Fetch and downlload the dataset from dropbox
!wget https://www.dropbox.com/s/4dtt56o16wi07nk/automotive_data.csv

--2021-04-27 20:54:02--  https://www.dropbox.com/s/4dtt56o16wi07nk/automotive_data.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/4dtt56o16wi07nk/automotive_data.csv [following]
--2021-04-27 20:54:02--  https://www.dropbox.com/s/raw/4dtt56o16wi07nk/automotive_data.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com/cd/0/inline/BNZMp60NhHJ-_3op6NG5oRlsv5fe4CYmPrF4MdAchJmEnsfvdOqElCH6Xvy07Jx0cvPWzg_YJIWHI6TWLhZHEafPOKkggnic4DICQWhqCvaTaLRs62Vd1LnZkbRYjE7sXP2o64rdjg8PQvu77MTcXcYy/file# [following]
--2021-04-27 20:54:03--  https://ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com/cd/0/inline/BNZMp60NhHJ-_3op6NG5oRlsv5fe4CYmPrF4MdAchJmEnsfvdOqElCH6Xvy07Jx0cvPWzg_YJIWHI6TWLhZHEafPOKkggnic4DICQWhqCvaTaLRs62Vd1LnZkbRYjE7sXP2o64rdjg8PQvu77MTcXcYy/file
Resolving ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com (ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com)... 162.125.82.15, 2620:100:6032:15::a27d:520f
Connecting to ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com (ucc319be50ea6a73a0a897db5145.dl.dropboxusercontent.com)|162.125.82.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25092 (25K) [text/plain]
Saving to: ‘automotive_data.csv’

automotive_data.csv 100%[===================>]  24.50K   163KB/s    in 0.2s

2021-04-27 20:54:04 (163 KB/s) - ‘automotive_data.csv’ saved [25092/25092]

In [ ]:
import pandas as pd
import numpy as np
import math
import scipy.stats as stats
import statsmodels.api as sm

auto = pd.read_csv("automotive_data.csv")
auto.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
# Task 2
np.random.seed(10)

sample_size = 100
sample = np.random.choice(a=auto['price'],
                          size = sample_size)
sample_mean = sample.mean()

#Task 3
z_critical = stats.norm.ppf(q = 0.67)

# check the z-critical value
print("z-critical value", z_critical)

# Get the population standard deviation
pop_stdev = auto['price'].std()

#Task 4
sigma = pop_stdev/math.sqrt(sample_size)
margin_of_error = z_critical*(sigma)

#Task 45
confidential_interval = (sample_mean - margin_of_error,
                         sample_mean + margin_of_error)

#Lets print the result
print("Confidence interval:",end=" ")
print(confidential_interval)

pop_mean = auto['price'].mean()
print("True mean: {}".format(pop_mean))

z-critical value 0.4399131656732339
Confidence interval: (12557.113078891285, 13268.206921108715)
True mean: 13156.931707317073

**Question 10 - Beginner**

Clipcart, an online shopping portal, gets over 300 order returns in a day out of 1500. Each customer can
reject only one order in a day. Clipcart assumes that all customers are independent of each other. Find out
the margin of error and also determine an approximate 95% confidence interval for the proportion of orders
cancelled in a day.

Tasks to be performed:

1. Calculate the Margin of Error
2. Get the Confidence Interval

Topics Covered:
* Margin of Error
* Confidence Interval

In [ ]:
import math
from scipy import mean, stats

x = 300
n = 1500
p = x/n
var = p*(1-p)

#task 1
margin = stats.norm.ppf(0.95) * (math.sqrt(var/n))
print("Margin of error is:", margin)

#Task 2
con_interval = (p - margin)
con_interval1 = (p + margin)
print("Confidential Interval is: ",con_interval,con_interval1)

Margin of error is: 0.016987975211018455
Confidential Interval is:  0.18301202478898154 0.21698797521101848

**Question 11 - Intermediate**

A biologist is interested in determining whether a plant seedlings treated with an extract from Myrtle roots
resulted in a lower average height of the seedlings than the standard height of 15.7 cm. The biologist treated
a random sample of n = 33 seedlings with the extract and subsequently obtained the following heights:

11.5 11.8 15.7 16.1 14.1 10.5 9.3 15.0 11.1

15.2 19.0 12.8 12.4 19.2 13.5 12.2 13.3

16.5 13.5 14.4 16.7 10.9 13.0 10.3 15.8

15.1 17.1 13.3 12.4 8.5 14.3 12.9 13.5

Tasks to be performed:

1. Determine the Hypotheses
2. Perform a Statistical Test
3. Find P-value and conclude the Hypotheses

Topics Covered:

Hypothesis Test for Population Mean: Right-tailed Test
#Task 1:
The hypothesis is stated as follows:
Null: The average height is equal to 15.7 (p=15.7)
Alternative: The average height is less than 15.7 (p<15.7)

The biologist can perform a one sample t-test using ttest_1samp and find out the p-value to conclude if the
average height of the plants is les than 15.7cm or not.

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
import math

#task 2
X = [11.5, 11.8, 15.7, 16.1, 14.1, 10.5, 9.3, 15.0, 11.1, 15.2, 19.0, 12.8, 12.4, 19.2,
13.5, 12.2, 13.3, 16.5, 13.5, 14.4, 16.7, 10.9, 13.0, 10.3, 15.8, 15.1, 17.1, 13.3, 12.4, 8.5, 14.3, 12.9, 13.5]

ttest,pval = ttest_1samp(X, 15.7)
print(pval)

#Task 3
if pval<0.05:
  print("Null Hypothesis rejected: The average height of plants is less than 15.7 cm")
else:
  print("cannot Reject Null Hypothesis: The average height of plant is 15.7 cm")

6.348487914001979e-05
Null Hypothesis rejected: The average height of plants is less than 15.7 cm

**Question 12 - Intermediate**

An engineer measured the Brinell hardness of 25 pieces of ductile iron that were subcritically annealed. The
resulting data were:

170 167 174 179 179 187 179 183 179
156 163 156 187 156 167 156 174 170
183 179 174 179 170 159 187

The engineer hypothesized that the mean Brinell hardness of all such ductile iron pieces is greater than 170.

Is his hypothesis correct?
Tasks to be performed:

1. Determine the Hypotheses
2. Perform a Statistical Test
3. Find P-value and conclude if his hypothesis correct

Topics Covered:

Hypothesis Test for Population Mean: Left-tailed Test

#Task 1:
The hypothesis is stated as follows:

Null: The mean Brinell hardness can be equal to 170 (p=15.7)

Alternative: The mean Brinell hardness is greater than 170 (p>15.7)

The engineer biologist can perform a one sample t-test using ttest_1samp and find out the p-value to
conclude if the mean hardness is greater than 170 or not.

In [ ]:
import pandas as pd
import math
from scipy.stats import ttest_1samp
import numpy as np

#Task 2:
X = [170, 167, 174, 179, 179, 187, 179, 183, 179, 156, 163, 156, 187, 156, 167, 156, 174, 170, 183, 179, 174, 179, 170, 159, 187]

In [ ]:
ttest,pval = ttest_1samp(X, 170)
print(pval)

# Task 3
if pval<0.05:
  print("Null Hypothesis Rejected: The mean Brinell hardness is greater than 170")
else:
  print("Cannot Reject Null Hypothesis: The mean Brinell hardness can be equal equal to 170")

0.23363279636357662
Cannot Reject Null Hypothesis: The mean Brinell hardness can be equal equal to 170

**Question 13 - Intermediate**

A manufacturer claims that the thickness of the plates it produces is 7.5 one-hundredths of an inch. The
quality-check department has to check the thickness regulary. On one production run, they took a random
sample of n = 10 pieces of plates and measured their thickness. They obtained:

7.65 7.60 7.65 7.70 7.55 7.55 7.40 7.40 7.50 7.50

Tasks to be performed:
1. Determine the Hypotheses
2. Perform a Statistical Test
3. Find P-value and conclude the hypothesis

Topics Covered:
* Hypothesis Test for Population Mean: Two-tailed Test

#Task 1:
The hypothesis is stated as follows:

Null: The thickness is equal to 7.5 one-hundredths of an inch (p=7.5)
Alternative: The thickness is not equal to 7.5 one-hundredths of an inch (p!=7.5)

The quality-check department can perform a one sample t-test using ttest_1samp and find out the p-value to
conclude if the thickness is equal to 7.5 one-hundredths of an inch or not

In [ ]:
import pandas as pd
import math
from scipy.stats import ttest_1samp
import numpy as np

#Task 2
X = [7.65, 7.60, 7.65, 7.70, 7.55, 7.55, 7.40, 7.40, 7.50, 7.50]
ttest,pval = ttest_1samp(X, 7.5)
print(pval)

# Task3
if pval<0.05:
  print("Null Hypothesis Rejected: The thickness is not equal to 7.5 one_hundredths of an inch")
else:
  print("Cannot Reject Null Hypothesis: The thickness is equal to 7.5 one-hundredths of an inch")

0.15819542053877977
Cannot Reject Null Hypothesis: The thickness is equal to 7.5 one-hundredths of an inch

**Questions 14-15:**

Dataset Description:

diabetes.csv - The dataset contains 9 features:

* Pregnancies: Pregnancy month
* Glucose: Glucose value
* BloodPressure: Blood Pressure value
* SkinThickness: Skin Thickness value
* Insulin: Insulin value
* BMI: BMI value
* DiabetesPedigreeFunction: Likelihood score of diabetes based on family history
* Age: Patient age
* Outcome: 1 or 0 based on whether the patient is diabetic or not

In [ ]:
!wget https://www.dropbox.com/s/ageyill6ur8s2u3/diabetes.csv

--2021-04-27 21:54:47--  https://www.dropbox.com/s/ageyill6ur8s2u3/diabetes.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ageyill6ur8s2u3/diabetes.csv [following]
--2021-04-27 21:54:48--  https://www.dropbox.com/s/raw/ageyill6ur8s2u3/diabetes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com/cd/0/inline/BNb8I2GnuJ6mC3wi_RIxolF_tULjy49AfKwnhAkV9EEGzNQygb5mU0MmDPdsif7mp3xGC-l0G2Mx9SlnCSdL2ECq8yFHs96_bVstDjwAdJk7Z-LczR0PL6_2bnA0JzkMquxVvcVjbj0RmWy-JeBVEgzs/file# [following]
--2021-04-27 21:54:48--  https://uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com/cd/0/inline/BNb8I2GnuJ6mC3wi_RIxolF_tULjy49AfKwnhAkV9EEGzNQygb5mU0MmDPdsif7mp3xGC-l0G2Mx9SlnCSdL2ECq8yFHs96_bVstDjwAdJk7Z-LczR0PL6_2bnA0JzkMquxVvcVjbj0RmWy-JeBVEgzs/file
Resolving uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com (uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6032:15::a27d:520f
Connecting to uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com (uc4dde7a509a000ace9cccc334ed.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23873 (23K) [text/plain]
Saving to: ‘diabetes.csv’

diabetes.csv        100%[===================>]  23.31K  --.-KB/s    in 0.04s

2021-04-27 21:54:48 (592 KB/s) - ‘diabetes.csv’ saved [23873/23873]

Question 14 - Intermediate

Use the given dataset to find out what proportion of patients report they have diabetes.

Tasks to be performed:

1. Load the data, check its shape and check for null values
2. Replace the binary outcomes with text (1: Diabetic, 0: Non-diabetic)
3. Find the value_counts of diabetic patients
4. Construct a 95% confidence interval with statsmodels library for the population proportion of people having diabetes

Topics covered:
* Confidence Interval

In [ ]:
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("diabetes.csv")
print(df.head())
print(df.shape)
print(df.isnull().sum())

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]
(768, 9)
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
# Task 2
df.Outcome.replace({0:'Non-Diab',1:'Diab'},inplace=True)
n = df.shape[0]

# Task 3
diabetic = df.Outcome.value_counts().loc['Diab']
print("Total observation:",n ,"\n Number of diabetic patients: ",diabetic, n)

# Task 4
print("\n95% C.I. with statsmodel library:", sm.stats.proportion_confint(diabetic, n))

Total observation: 768
 Number of diabetic patients:  268 768

95% C.I. with statsmodel library: (0.3152483405027714, 0.38266832616389523)

**Question 15 - Advanced**

Use the given dataset to check if diabetic patients have higher average age than non-diabetic patients. Take
a significance level of 5%.

Tasks to be performed:

1. Determine the Hypotheses
2. Perform a Statistical Test
3. Find P-value and conclude the hypothesis

Topics Covered:
* Hypothesis Test for Population Mean: Left-tailed Z-Test
#Task 1:
The hypothesis is stated as follows:

Null: There is no difference in average age
Alternative: There is a significant difference in average age

Since the number of samples is >>>30, we can perform a z-test using stats.ztest and find out the p-value to
conclude if diabetic patients have higher average age than non-diabetic patients or not.

In [ ]:
import statsmodels.api as sm

df_diabetic = df[df.Outcome=='Diab']
df_non_diabetic = df[df.Outcome=='Non-Diab']

#Task 2
z,pval = sm.stats.ztest(df_diabetic['Age'],df_non_diabetic['Age'])
print(pval)

#Task 3
if pval<0.05:
  print("Null Hypothesis Rejected: Diabetic patients have a higher avg age than non-diabetic patients")
else:
  print("Cannot Reject Null hypothesis: There is no difference in avg age of diabetic and non_diabetic patients")

1.1006318936217381e-11
Null Hypothesis Rejected: Diabetic patients have a higher avg age than non-diabetic patients

**Questions 16-17:**

Dataset Description:

survey.csv - The dataset contains 27 columns. Here's a brief description of 4 columns in the dataset:

* Age - Age of each person
* Gender - Gender of each person
* Country - Nationality of each person
* self_employed - Whether the person is * self employed or not

Question 16 - Intermediate

Use the given dataset to find out what proportion of self-employed people are women.

Tasks to be performed:
1. Load the data
2. Find the value_counts of people that are self-employed
3. Find the value_counts of women that re self employed
4. Construct a 95% confidence interval with statsmodels library for the population proportion of selfemployed
women

Topics covered:
* Confidence Interval

In [ ]:
import pandas as pd
import statsmodels.api as sm

#Task 1
selfemp = pd.read_csv("survey.csv")
selfemp.head()

          Timestamp  Age  Gender  ... mental_vs_physical obs_consequence comments
0  27-08-2014 11:29   37  female  ...                Yes              No      NaN
1  27-08-2014 11:29   44    male  ...         Don't know              No      NaN
2  27-08-2014 11:29   32    male  ...                 No              No      NaN
3  27-08-2014 11:29   31    male  ...                 No             Yes      NaN
4  27-08-2014 11:30   31    male  ...         Don't know              No      NaN

[5 rows x 27 columns]

In [ ]:
#task 2
n = selfemp.self_employed.value_counts().loc['Yes']

#Task 3
women = selfemp[(selfemp['Gender']=='female')]
self_emp_w = women.self_employed.value_counts().loc['Yes']

print("Total number of self-employed people:",n ,"\nNumber of self-employed women:",self_emp_w)

# Task 4
print("\n95% confidence Interval:", sm.stats.proportion_confint(self_emp_w-n))

Total number of self-employed people: 146
Number of self-employed women: 24

TypeError: ignored